//IMAGE GRAY SCALE
@mixin imgGrayscale {
	filter: gray;
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
}

//IMAGE TRANSFORM
@mixin imgTransform {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}

//MEDIA QUERY WITH MAX
@mixin media-max($device-width) {
	@media only screen and (max-width: $device-width) {
		@content;
	}
}

//MEDIA QUERY WITH MIN
@mixin media-min($device-width) {
	@media only screen and (min-width: $device-width) {
		@content;
	}
}
