//FONTS & SIZE
$bodyFont: 'Montserrat', sans-serif;
$bodyFontsize: 1rem;

//COLOR
$clr-primary: #023859;
$clr-secondary: #0cbaef;

//TEXT COLOR
$text-body: #4c4c4c;
$text-primary: #0cbaef;
$text-secondary: #9b1a1e;

//BACKGROUND COLOR
$bg-primary: #404565;
$bg-secondary: #0cbaef;
$bg-gray: #f2f2f2;

//TRANSITION
$transition: all ease 0.4s;

//TRANSFORM
$imgTransform: scale(1.1);

//RADIUS
$radius: 0.25rem;

//BORDER
$border: 1px solid #bebebe;
