@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), url('../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Italic'), url('../fonts/Montserrat-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Thin'), url('../fonts/Montserrat-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Thin Italic'), url('../fonts/Montserrat-ThinItalic.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat ExtraLight'), url('../fonts/Montserrat-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat ExtraLight Italic'), url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Light';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Light'), url('../fonts/Montserrat-Light.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Light Italic'), url('../fonts/Montserrat-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Medium'), url('../fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Medium Italic'), url('../fonts/Montserrat-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat SemiBold'), url('../fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat SemiBold Italic'), url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Bold'), url('../fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Bold Italic'), url('../fonts/Montserrat-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat ExtraBold'), url('../fonts/Montserrat-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat ExtraBold Italic'), url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Black';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Black'), url('../fonts/Montserrat-Black.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Black Italic'), url('../fonts/Montserrat-BlackItalic.woff') format('woff');
}

@font-face {
    font-family: 'ConthraxSb-Regular';
    src: url('../fonts/ConthraxSb/ConthraxSb-Regular.ttf.woff') format('woff'), url('../fonts/ConthraxSb/ConthraxSb-Regular.ttf.svg#ConthraxSb-Regular') format('svg'), url('../fonts/ConthraxSb/ConthraxSb-Regular.ttf.eot'), url('ConthraxSb-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat Regular' !important;
    font-style: normal !important;
}

.header {
    background-image: url(../images/bg.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header .row {
    height: 100vh;
    align-items: center;
}

.header-text h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 55px;
    font-family: 'Montserrat SemiBold';
    text-align: left;
    letter-spacing: 1px;
}

.header-text h2 {
    color: #e11d25;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: left;
    font-family: 'Montserrat SemiBold';
    font-size: 35px;
    letter-spacing: 1px;
}

.container-custom {
    max-width: 90%;
    width: 90%;
    margin: 0 auto;
}

.header-text p {
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    max-width: 500px;
    font-weight: 400;
    line-height: 35px;
    margin: 20px 0px 0px 0px;
    font-family: 'Montserrat Light';
    letter-spacing: -0.5px;
}

.custom-btn {
    background: #e11d25;
    color: #ffffff;
    border: solid 1px #e11d25;
    border-radius: 30px;
    padding: 13px 25px;
    outline: none !important;
    box-shadow: none !important;
    text-transform: uppercase;
    display: block;
    margin: 50px 0px 0px 0px;
    letter-spacing: 1px;
    font-size: 10px;
    cursor: pointer;
}

.items h5 {
    font-size: 16px;
    padding: 1em 0px 0.4em 0px;
    font-family: 'Montserrat Medium';
}

.services {
    padding: 5rem 0;
}

.items p {
    margin-bottom: 0px;
    font-family: 'Montserrat Regular';
    max-width: 550px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.5px;
    color: #616161;
}

.introduction h4 {
    font-size: 50px;
    font-weight: 900;
    font-family: 'Montserrat Bold';
    text-align: left;
    letter-spacing: -3px;
}

.introduction h5 {
    font-weight: 900;
    font-family: 'Montserrat Bold';
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0px;
    letter-spacing: -0.5px;
    max-width: 400px;
}

.introduction img {
    margin: 0px 0px auto;
    display: block;
}

.introduction p {
    color: #757575;
    margin: 20px 0px 0px 0px;
    line-height: 30px;
    text-align: justify;
    font-family: 'Montserrat Regular';
    max-width: 550px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.5px;
}

.introduction img.features-img {
    margin: 0px 10px auto;
    display: inline-block;
}

.introduction a {
    font-family: 'Montserrat SemiBold';
    color: #252525 !important;
    font-size: 22px;
    margin: 25px 0px 0px 0px;
    text-decoration: none !important;
}

.featured {
    padding: 8rem 0 5rem 0;
}

.featuredBanner h3 {
    font-family: 'Montserrat Bold';
    max-width: 500px;
    text-align: left;
    line-height: 45px;
    font-size: 30px;
    height: 100%;
    margin: 0px 0px 0px 15%;
    display: flex;
    align-items: center;
}

.featuredBanner {
    padding: 0rem 0;
}

.scenarios p {
    font-size: 20px;
    color: #808080;
}

.industryDocuments h3 {
    font-family: 'Montserrat Medium';
    color: #666666;
}

.industryDocuments .itemWrap {
    display: flex;
    align-items: center;
}

.industryDocuments .info {
    text-align: left;
    padding: 0px 10px 0px 30px;
}

.info h4 {
    font-family: 'Montserrat Medium';
    color: #4d4d4d;
}

.info p {
    font-family: 'Montserrat Regular';
    color: #4d4d4d;
}

.industryDocuments {
    padding: 6rem 0 8rem 0;
}

.testimonial .carousel-item p {
    font-family: 'Montserrat Regular';
    font-size: 15px;
    line-height: 30px;
    margin: 5% 0px 2% 0px;
}

.testimonial .carousel-item h5 {
    font-family: 'Montserrat Bold';
}

.testimonial .carousel-item h6 {
    font-family: 'Montserrat Light';
}

.carousel-indicators li {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    background-color: #b2b2b2 !important;
}

.carousel-indicators .active {
    background-color: #009ae5 !important;
}

.carousel-indicators {
    bottom: -10% !important;
    margin: 0px;
}

.f-section i {
    font-size: 25px;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50%;
    line-height: 50px;
    color: #009ae5;
    text-align: center;
}

.footer-menu a {
    text-decoration: none;
    color: #009ae5;
    font-size: 18px;
    padding: 5px 0px 5px 0px;
    display: inline-block;
}

.f-section h5 {
    text-align: left;
    font-family: 'Montserrat SemiBold';
    font-size: 28px;
    letter-spacing: 0.2px;
    padding-bottom: 30px;
}

.footer-menu {
    padding-left: 0px;
    margin-left: 0px;
    text-align: left;
    list-style: none;
}

.f-section h2 {
    font-family: 'Montserrat Regular';
    font-size: 15px;
    letter-spacing: 0.5px;
}

.footer-bottom {
    border-top: solid 1px #F5F5F5;
    padding: 30px 0px;
}

.stories {
    padding: 5rem 0 8rem 0;
}

.f-section img {
    max-width: 350px;
}

.f-section .container {
    padding-bottom: 3%;
}

.nav-item {
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 14px;
    margin: 0px 5px;
    font-weight: 100;
}

.navbar {
    padding: 20px 40px 0px 40px;
}

.navbar.navbar-fix {
    background: rgb(16 16 16);
}

.navbar img,
.navbar .nav-item {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.navbar.navbar-fix img {
    max-width: 150px;
}

.navbar.navbar-fix .nav-item {
    font-size: 15px;
}

.navbar-brand img {
    /* display: block; */
    margin: 0px 0px;
    max-width: 350px;
}

.one-link {
    display: block;
    margin: 30px 0px 0px 0px;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #05ffff !important;
    text-decoration: underline;
    font-size: 20px;
}

.request-form .form-group {
    position: relative;
    margin-bottom: 20px;
}

.request-form label {
    position: absolute;
    top: 16px;
    left: 20px;
    color: #424242;
    font-size: 12px;
    margin: 0px;
    font-family: 'Montserrat Medium';
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.request-form .form-control {
    height: 50px;
    font-size: 12px;
    padding: 10px 15px 0px 15px;
}

.request-form textarea.form-control {
    height: 180px;
}

.request-form .form-group.focused label {
    top: 2px;
}

.f-section h3,
.f-section h6 {
    font-family: 'Montserrat Regular';
}

.f-section button {
    background: #e11d25;
    border: solid 1px #e11d25;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    outline: none !important;
    box-shadow: none !important;
    margin: 10px 0px 0px 0px;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}

.f-section button:hover,
.f-section button:active,
.f-section button:focus,
.f-section button:focus-within,
.f-section button:visited {
    background: #fe200b !important;
    border: solid 1px #fe200b !important;
}

.select2-container .select2-selection--single {
    height: 50px !important;
    color: #424242;
    font-size: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px !important;
    padding-left: 12px !important;
    text-align: left;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px !important;
}

.select2-results__message {
    font-size: 12px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    font-size: 12px;
}

.select2-results__option {
    padding: 6px 10px !important;
}

.svg-icon {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.svg-icon.medium {
    height: 65px;
    width: 65px;
}

.faster-svg {
    background-image: url('../../../public/images/speedometer.svg');
}

.error-svg {
    background-image: url('../../../public/images/low-price.svg');
}

.time-svg {
    background-image: url('../../../public/images/line-chart.svg');
}

.services {
    background: #FAFAFA !important;
    position: relative;
}

.svg-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.fotter {
    width: 100%;
    background: #f8f8f8;
    padding: 4rem 1rem 3rem 1rem;
    position: relative;
}

.fotter img.os {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.fotter .contentWrap {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-column-gap: 2rem;
    align-items: flex-end;
    position: relative;
    z-index: 100;
}

.fotter .contentWrap .contact h2 {
    margin-bottom: .25rem;
}

.fotter .contentWrap .contact h2 a {
    color: #e11d25;
    font-weight: 800;
    text-decoration: none !important;
}

.fotter a {
    color: #000000;
    transition: all ease 0.4s;
}

.fotter .contentWrap .contact p {
    margin-top: .25rem;
    margin-bottom: 0;
}

.fotter .contentWrap .quicklinks {
    border-left: 1px solid #e11d25;
    padding-left: 2rem;
}

.fotter .contentWrap .quicklinks ul {
    list-style-type: none;
    margin: 0;
}

.fotter .contentWrap .getintouch {
    text-align: right;
}

.fotter .contentWrap .getintouch ul {
    margin-bottom: .25rem;
    list-style-type: none;
    display: inline-flex;
}

.fotter .contentWrap .getintouch ul li {
    margin-left: 1rem;
}

.fotter .contentWrap .getintouch ul li a {
    display: block;
    color: #e11d25;
}

.getintouch li a i {
    display: inline-block;
}

.small-text {
    font-size: 12px;
    font-family: 'Montserrat Regular';
}

.header-menu .fixed-top .navbar-brand {
    padding-left: 4%;
}

.header-menu .fixed-top .navbar-nav {
    padding-right: 4%;
}

.img-block {
    display: flex;
    min-height: 80px;
    justify-content: center;
    align-items: center;
}

.featured .graphic img {
    max-width: 550px;
}

.introduction {
    padding-top: 4%;
}

.video-block {
    background: url('../images/life-at-ms.jpg') no-repeat center center;
    background-size: cover;
}

.footerForm-block {
    padding: 4rem 3rem 5rem 3rem;
}

.footerForm-block {
    padding-left: 50px !important;
}

.playVideo {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-play-button {
    width: 32px;
    height: 32px;
    display: block;
    position: relative;
    box-sizing: content-box;
    z-index: 10;
    top: 0;
    right: 0;
    border-radius: 50%;
    padding: 19px 20px 19px 32px;
    cursor: pointer;
}

.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 25px solid #e11d25;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    transition: all 200ms;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.video-block {
    min-height: 250px !important;
}

#videoModal video {
    max-width: 100%;
}


/* .logo-navbar {
    background-image: url('../public/images/logo/logo.svg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100px;
} */

@media (min-width: 100px) and (max-width: 575px) {
    .navbar-brand img {
        max-width: 250px;
    }
    .featured .graphic img {
        max-width: 275px;
        margin: 0px 0px;
        display: block;
    }
    .footerForm-block {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    .footerForm-block h3 {
        font-family: 'Montserrat Bold';
        font-size: 25px;
        text-transform: capitalize;
    }
    #footerForm-block h6 {
        font-family: 'Montserrat Medium';
        padding: 10px 0px 0px 0px;
        line-height: 25px;
        font-size: 15px;
    }
    .fotter .contentWrap {
        display: block;
    }
    .fotter .contentWrap .quicklinks {
        border-left: 1px solid #e11d25;
        padding-left: 0rem;
        margin-top: 20px;
    }
    .fotter .contentWrap .quicklinks ul {
        text-align: left;
        padding-left: 15px;
    }
    .fotter .contentWrap .getintouch {
        text-align: left;
        margin-top: 20px;
    }
    .getintouch p {
        padding-left: 15px;
    }
}

@media (min-width: 100px) and (max-width: 767px) {
    .header .row {
        padding-top: 25%;
    }
    .header-text h1 {
        font-size: 40px;
    }
    .header-text h2 {
        font-size: 30px;
    }
    .footerForm-block {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .contentWrap .item.contact {
        min-width: 200px;
    }
    .fotter .contentWrap .quicklinks {
        padding-left: 0rem;
    }
    .fotter .quicklinks ul {
        padding-left: 15px;
        text-align: left;
    }
    .fotter .getintouch p {
        margin: 0px;
    }
    .fotter .contentWrap .contact h2 a {
        font-family: 'Montserrat Bold';
        font-size: 24px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .graphic .text-right {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .featured .graphic img {
        max-width: 100%;
    }
    .footerForm-block {
        padding-left: 30px !important;
    }
    .fotter .contentWrap .contact h2 {
        margin-bottom: .25rem;
        font-size: 26px;
        font-family: 'Montserrat Bold';
    }
    .fotter .getintouch p {
        margin: 0px;
    }
}